# Exploratory data analysis of the Maternal Health Risk Data Set

In [17]:
#import the required packages
import pandas as pd
from sklearn.model_selection import train_test_split

# Summary of the data set

The data set used in....

In [19]:
#loading the data set
maternal_risk_df = pd.read_csv('../data/raw/maternal_risk.csv',header=1)

Before proceeding further, we will split the data such that 80% of observations are in the training and 20% of observations are in the test set.

In [20]:
#train_test_split
train_df, test_df = train_test_split(maternal_risk_df, test_size=0.20, random_state=123)

We also need to check that there are no null values in the data set.

In [21]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 811 entries, 375 to 510
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          811 non-null    int64
 1   SystolicBP   811 non-null    int64
 2   DiastolicBP  811 non-null    int64
 3   BS           811 non-null    float64
 4   BodyTemp     811 non-null    float64
 5   HeartRate    811 non-null    int64
 6   RiskLevel    811 non-null    object
dtypes: float64(2), int64(4), object(1)
memory usage: 50.7+ KB

In [22]:
train_df.describe()

              Age  SystolicBP  DiastolicBP          BS    BodyTemp   HeartRate
count  811.000000  811.000000   811.000000  811.000000  811.000000  811.000000
mean    29.574599  112.933416    76.262639    8.659211   98.680641   74.373613
std     13.287246   18.334896    13.764557    3.223935    1.379661    7.908723
min     10.000000   70.000000    49.000000    6.000000   98.000000    7.000000
25%     19.000000   95.000000    65.000000    6.900000   98.000000   70.000000
50%     25.000000  120.000000    80.000000    7.500000   98.000000   76.000000
75%     37.500000  120.000000    90.000000    7.950000   98.000000   80.000000
max     66.000000  160.000000   100.000000   19.000000  103.000000   90.000000